__pycache__/
instance/
.idea
set_env_vars.sh
*.pyc
*.egg-info
build/
dist/
certs/
data/
input/
output/
logs/
temp/
*.log
.env
compose.yml
docker-compose.yml
compose-dev.yml
docker-compose.yml
compose-testing.yml
