# vim: set syntax=yaml:

version: '3.6'

services:

  # note: this is not actually a service, we intend to run it only `docker-compose run`
  nosetests:
    image: "opertusmundi/profile:${VERSION}-testing"
    build:
      context: .
      dockerfile: testing.dockerfile
      args:
        VERSION: "${VERSION}"
    command: ['-v']
    volumes:
    - type: 'bind'
      source: .
      target: '/work'
    environment:
      TEMPDIR: '/work/temp'
      INPUT_DIR: '/work/input'
      OUTPUT_DIR: '/work/output'
      INSTANCE_PATH: '/work/data'
      DB_ENGINE: 'postgresql'
      DB_HOST: 'postgres-profile'
      DB_PORT: '5432'
      DB_USER: 'profile_service'
      DB_NAME: 'opertusmundi_profile'
      DB_PASS: '123456'
    working_dir: /work
    user: "1000:1000"
    networks:
    - 'opertusmundi_dev_network'

  postgres-profile:
    image: postgres:latest
    env_file: postgres.env.example
    networks:
      - 'opertusmundi_dev_network'

networks:
  opertusmundi_dev_network: 
    external: true

