# vim: set syntax=yaml:

version: '3.6'

services:

  # note: this is not actually a service, we intend to run it only `docker-compose run`
  nosetests:
    image: "opertusmundi/profile:${VERSION}-testing"
    build:
      context: .
      dockerfile: testing.dockerfile
      args:
        VERSION: "${VERSION}"
    command: ['-v']
    volumes:
    - type: 'bind'
      source: .
      target: '/work'
    environment:
      TEMPDIR: '/work/temp'
      INPUT_DIR: '/work/input'
      OUTPUT_DIR: '/work/output'
      INSTANCE_PATH: '/work/data'
      DB_ENGINE: 'postgresql'
      DB_HOST: 'postgres-1-opertusmundi'
      DB_PORT: '5432'
      DB_USER: 'opertusmundi'
      DB_NAME: 'profile-tests'
      DB_PASS_FILE: '/work/secrets/database-password'
    working_dir: /work
    user: "1000:1000"
    networks:
    - 'opertusmundi_network'

networks:
  opertusmundi_network: 
    external: true

