# vim: set syntax=yaml:

version: '3.6'

services:

  profile:
    image: "opertusmundi/profile:${VERSION}"
    build:
      context: .
      args:
        VERSION: "${VERSION}"
    volumes:
    - type: 'bind'
      source: ./logs
      target: /var/local/geoprofile/logs
    - type: 'bind'
      source: ./data/secret_key
      target: /var/local/geoprofile/secret_key
      read_only: true
    #- type: 'bind'
    #  source: ./logging-syslog.conf
    #  target: /var/local/geoprofile/logging.conf
    #  read_only: true
    - type: 'bind'
      source: ./data/geoprofile.sqlite
      target: /var/local/geoprofile/geoprofile.sqlite
    - type: 'volume'
      source: profile_input
      target: /var/local/geoprofile/input
      read_only: true
    - type: 'volume'
      source: profile_output
      target: /var/local/geoprofile/output
    networks:
    - 'opertusmundi_network'
    ports:
    - '5000:5000'
    environment:
      INPUT_DIR: /var/local/geoprofile/input
      OUTPUT_DIR: /var/local/geoprofile/output
      FLASK_ENV: "${FLASK_ENV}"
      FLASK_DEBUG: "${FLASK_DEBUG}"
      #LOGGING_FILE_CONFIG: 'logging.conf'
      #LOGGING_ROOT_LEVEL: 'INFO'
      #RSYSLOG_HOST: rsyslog-1
      CORS: '*'
      PYTHONUNBUFFERED: 1

volumes:
  profile_input:
    external: true
    name: opertusmundi_profile_input
  profile_output:
    external: true
    name: opertusmundi_profile_output

networks:
  opertusmundi_network:
    external: true
