# vim: set syntax=yaml:

version: '3.6'

services:
  profile:
    image: "opertusmundi/profile:${VERSION}"
    build:
      context: .
      args:
        VERSION: "${VERSION}"
    volumes:
    - type: 'bind'
      source: ./logs
      target: /var/local/geoprofile/logs
    - type: 'bind'
      source: ./logging.conf
      target: /var/local/geoprofile/logging.conf
      read_only: true
    - type: 'bind'
      source: ./secrets/secret_key
      target: /secrets/secret_key
      read_only: true
    - type: 'bind'
      source: ./secrets/database-password
      target: /secrets/database-password
      read_only: true
    - type: 'volume'
      source: profile_input
      target: /var/local/geoprofile/input
      read_only: true
    - type: 'volume'
      source: profile_output
      target: /var/local/geoprofile/output
    - type: 'bind'
      source: ./temp
      target: /var/local/geoprofile/temp

    networks:
    - 'opertusmundi_network'
    ports:
    - '5000:5000'
    environment:
      NUM_WORKERS: 4
      INPUT_DIR: /var/local/geoprofile/input
      OUTPUT_DIR: /var/local/geoprofile/output
      TEMPDIR: /tmp
      FLASK_ENV: "${FLASK_ENV}"
      FLASK_DEBUG: "${FLASK_DEBUG}"
      CORS: '*'
      PYTHONUNBUFFERED: 1
      #LOGGING_FILE_CONFIG: 'logging.conf'
      #LOGGING_ROOT_LEVEL: 'INFO'
      #RSYSLOG_HOST: rsyslog-1
      DB_ENGINE: 'postgresql'
      DB_HOST: postgres-1-opertusmundi
      DB_PORT: '5432'
      DB_USER: opertusmundi
      DB_NAME: profile
      DB_PASS_FILE: /secrets/database-password

    mem_limit: 4096m
    memswap_limit: 4096m

  # NOTE: Locust service is optional (only for stress-testing the application)
  locust:
    image: locustio/locust:2.8.6
    volumes:
    - type: bind
      source: ./data/1.zip
      target: /data/1.zip
      read_only: true
    - type: bind
      source: ./locustfile.py
      target: /locustfile.py
      read_only: true
    networks:
    - 'opertusmundi_network'
    environment:
      LOCUST_LOCUSTFILE: /locustfile.py
      LOCUST_HOST: http://profile:5000
    ports:
    - '8089:8089'
    mem_limit: 2048m
    memswap_limit: 2048m


volumes:
  profile_input:
    external: true
    name: opertusmundi_profile_input
  profile_output:
    external: true
    name: opertusmundi_profile_output

networks:
  opertusmundi_network:
    external: true
